
.ng-valid .notifyColor {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.inputOver {
  min-width: 250px;
  height: 40px;
  border-radius: 40px;
  border-style: solid;
  padding-left: 20px;
}

.btnOver {
  min-width: 100px;
  background-color: #478887;
  border-radius: 15px;
  //opacity: 0.8;
  margin-top: 20px;
  color: white !important; // overwrite material

}
