<form class="form-group" [formGroup]="nameForm" novalidate>
  <label class="center-block">
    <input placeholder="{{setup.placeHolder}}" *ngIf="setup.autoComp.isActive" autocomplete="{{setup.autoComp.value}}"
           (keydown.enter)="updateName()" class="form-control inputOver notifyColor" formControlName="name">
    <input placeholder="{{setup.placeHolder}}" *ngIf="!(setup.autoComp.isActive)" (keydown.enter)="updateName()"
           class="form-control inputOver notifyColor" formControlName="name">
  </label>

  <div
    *ngIf="nameForm.controls['name'].invalid && (nameForm.controls['name'].dirty && setup.autoComp.isActive && nameForm.controls['name'].touched)">
    <div *ngIf="nameForm.controls['name'].invalid">
      <span>Name is required</span>
    </div>
  </div>
  <div>
    <button *ngIf="setup.isBtn" mat-button type="button" [disabled]="(!nameForm.valid)" class="cp btnOver"
            (click)="updateName()"> book me in
    </button>
  </div>
</form>




