.navContainer {
  min-height: 150px;
  background-color: #478887;
  //text-align: center;
}


.userName {
  float: left;
  padding-left: 30px;
  padding-top: 50px;
  color: white;
  font-size: 30px;
}

.inputContainer {
  display: inline-block;
  float: right;
  padding-top: 40px;
  padding-right: 45px;
}

