.book-card {
  cursor: pointer;
  max-height: 200px;
  .img {
    max-height: 300px;
  }
}
mat-card-content>:first-child, .mat-card>:first-child {
  margin-top: 0;
  min-height: 130px;
}

.mat-card-header{
  display: inline-block!important; // material over
}
.hide{
  opacity: 0;
}


